 body{
     display: flex;
     justify-content: center;
 }

.main{
    display: flex;
    width: 1000px;
    align-items: center;
    flex-direction: column;
}
.nav-but{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
button{
    width: 10rem;
    height: 3rem;
    margin: 1rem;
}

.container {
    display: grid; 
    justify-items: center;
    border: black 1px solid;
}


.gridBlock{
    height: 30px;
    width: 30px;
}


.gridBlock-1{
    height: 30px;
    width: 30px;
    background-color: black;
}
 